[submodule "submodules/vscode-languageserver-node"]
	path = submodules/vscode-languageserver-node
	url = https://github.com/zate/vscode-languageserver-node.git
	branch = monaco
[submodule "submodules/go-langserver"]
	path = submodules/go-langserver
	url = https://github.com/zate/go-langserver.git
	branch = websocket-gorilla
[submodule "submodules/jsonrpc2"]
	path = submodules/jsonrpc2
	url = https://github.com/zate/jsonrpc2.git
	branch = jsonrpc-websocket-gorilla
